@model PhotographersVideoDist.Models.Case

@{
    ViewData["Title"] = "Rediger sag";
}

<h1>Rediger</h1>

<h4>Sags nr. @Model.CaseID</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CaseID" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" id="route" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Postal.PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" type="number" class="form-control" id="postal_code" onfocus="findPostal()"/>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Postal.Town" class="control-label"></label>
                <input asp-for="Postal.Town" class="form-control" id="locality" onfocus="findCity()"/>
                <span asp-validation-for="Postal.Town" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" type="datetime" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PhotographerID" class="control-label"></label>
                <input asp-for="Photographer.UserName" class="form-control" readonly />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-md-center">
            <hr />
            <input type="submit" value="Gem" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Tilbage</a>
            <a asp-action="AssetsUpload" class="btn btn-primary" asp-route-id="@Model.CaseID">Upload Assets</a>
            <hr />
        </div>
    </div>
</form>



@section Scripts {
    <script src="~/js/Cities-Autocomplete.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
