@model PaginatedList<PhotographersVideoDist.Models.Case>

@{
    ViewData["Title"] = "Sags oversigt";
    int columnCount = 0;
}

<h1>Sags oversigt</h1>

<p>
    <a asp-action="Create">Opret ny sag</a>
</p>

<hr />


@for (int r = 0; r < 9; r++)
{
    <div class="row">
        @for (int c = 0; c < 6; c++)
        {
            <article  id="@r@c" class="col-md-2">
                <a id="link-@r@c" asp-action="Details" asp-route-id="" rel="bookmark">
                    <img id="img-@r@c" class="img-thumbnail"/>
                </a>
                <div>
                    <h2>
                        <a id="titel-@r@c" asp-action="Details" asp-route-id="" rel="bookmark"></a>
                    </h2>
                    <div id="published-@r@c">
                    </div>
                </div>
            </article>
        }
    </div>
}


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Forrige
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Næste
</a>

<script>
    $(function () {
        for (var r = 0; r < 9; r++) {
            for (var c = 0; c < Model.Count; c++) {
                var titelId = "titel-" + r.toString() + c.toString();
                document.getElementById(titelId).value(Model[c].Titel);
            };
        };
    });
</script>