@{
    ViewData["Title"] = "Forside";
}

<h1 class="display-4 text-center">Velkommen til 112news Video Marked</h1>

<hr />

<div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
        <Video class="assets-size" src="/VideoContent/112news-Intro-Video.mp4" autoplay="autoplay" controls></Video>
    </div>
    <div class="offset-3"></div>
</div>
